@model KucnaKolekcijaKnjiga_VegaIT.Web.Models.PageViewModels.LanguageListPageViewModel

@{
    ViewBag.Title = "Jezik - početna";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Jezici</h2>
<hr />

<p>
    @Html.RouteLink("Kreiraj novi jezik", new { action = "Create", controller = "Language" }, new { @class = "btn btn-default" })
</p>

<table class="table table-striped col-md-12">
    <thead>
        <tr>
            <th class="col-md-10">Naziv jezika</th>
            <th class="col-md-2">Opcije</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var language in Model.LanguageViewModels)
        {
            <tr>
                <td>@language.Language</td>
                <td>
                    <a href="@Url.Action("Edit", "Language", new { id = language.LanguageId })" class="btn btn-primary-table btn-xs"><span class="glyphicon glyphicon-pencil"></span></a>
                    <a href="@Url.Action("Delete", "Language", new { id = language.LanguageId })" class="btn btn-primary-table btn-xs" onclick="return confirm('Da li ste sigurni da želite da obrišete odabrani jezik?')"><span class="glyphicon glyphicon-trash"></span></a>
                </td>
            </tr>
        }
    </tbody>
</table>